input{
    text-align: center
}
.info1{
	height:85%;
	overflow-y:scroll;
	width:100%;
	overflow-x:hidden;
}
.container{
    margin-top: 2%;
}
.hw{
    height:70%;
    overflow-y:scroll;
    width:100%;
    margin-left: 10%;
    margin-top: 5%;
}
.danger{
    color:#34495E;
}
.assign{
    height:75%;
    overflow-y:scroll;
    width:100%;
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
}
.name
{
    color:#F1C40F;
    font-size: 24px;
}
.hideText
{
    color: white;
    font-size: 14px;
}