Doctor sets up patient homework
<div class = "schedule">
<br>
		<select class="input-large" ng-model="newAppt.day" >
			<option value = "" disabled selected>Day</option>
	        <option value = "Mon">Monday</option>
	        <option value = "Tues">Tuesday</option>
	        <option value = "Wed">Wednesday</option>
	        <option value = "Thurs">Thursday</option>   
    	</select>
    	<select class="input-large" ng-model="newAppt.month">
    		<option value = "" disabled selected>Month</option>
	        <option value = "Jan">January</option>
	        <option value = "Feb">February</option>
	        <option value = "Mar">March</option>
	        <option value = "Apr">April</option>   
    	</select>
    	<select class="input-large" ng-model="newAppt.number">
    		<option value = "" disabled selected>Date</option>
	        <option value = "1">1</option>
	        <option value = "2">2</option>
	        <option value = "3">3</option>
	        <option value = "4">4</option>   
    	</select>
    	<select class="input-large" ng-model="newAppt.time">
    		<option value = "" disabled selected>Time</option>
	        <option value = "7:00">7:00</option>
	        <option value = "7:30">7:30</option>
	        <option value = "8:00">8:00</option>
	        <option value = "8:30">8:30</option>
	        <option value = "9:00">9:00</option>
	        <option value = "9:30">9:30</option>   
	        <option value = "10:00">10:00</option>
	        <option value = "10:30">10:30</option>
	        <option value = "11:00">11:00</option>
    	</select>
    	{{newAppt.day}}, {{newAppt.month}} {{newAppt.number}} at {{newAppt.time}}
    	<button type="button" ng-click ="addAppt(newAppt)">submit</button>
</div>

</br>
<div >
    <select class="input-medium" ng-model="newAssignment">
        <option value = "" disabled selected>Upper Body Exercises</option>
        <option value = "{{upperExercises.externalRotation}}">External Rotation</option>
        <option value = "{{upperExercises.internalRotation}}">Internal Rotation</option>
    </select>
        <select class="input-medium" ng-model="newAssignment">
        <option value = "" disabled selected>Lower Body Exercises</option>
        <option value = "{{lowerExercises.anklePump}}">Ankle Pumps</option>
        <option value = "{{lowerExercises.quadSets}}">Quadriceps Setting</option>
    </select>
        <select class="input-medium" ng-model="newAssignment">
        <option value = "" disabled selected>Cardio Exercises</option>
        <option value = "{{cardio.bike}}">Stationary Bike</option>
    </select>
    <button type="button" ng-click ="addAssignment(newAssignment)">submit</button>
</div>
<div>
    {{newAssignment}}
</div>
<div class="">
    <ul>    
        <li ng-repeat = "upperExercise in upperExercises">{{upperExercise.name}}</br>
            <a ng-href = "{{upperExercise.url}}">
                {{upperExercise.url}}
            </a>
        </li>  
    </ul>
    
</div>









