<div class="appt">
	Your next appointment is {{Day}}, {{Month}} {{Date}} {{apptYear}}
</div>
<div class="logo"></div>

<div class="exercises">
	<div id="buttons">
      <label> <input id="query" value='cats' type="text"/><button id="search-button" disabled onclick="search()">Search</button></label>
    </div>
    <div id="search-container">
    </div>
    <div>
    	<iframe id="ytplayer" type="text/html" width="640" height="360"
src="https://www.youtube.com/embed/M7lc1UVf-VE"
frameborder="0" allowfullscreen>
    </div>
</div>