
<div class = "appt">

		<ul class = "list2" ng-repeat = "appt in appts"> 
		
				Your next appointment is:</br>
				{{appt.day}}, {{appt.month}} {{appt.number}} @ {{appt.time}} <br>
			<br>   <br>

			
		</ul>
</div>
<div class = "hw">
<h3>Your exercises are: </h3>
    <div ng-repeat = "assignment in assignments">{{assignment.name}}</br></br>
<!--         <a ng-href = "{{assignment.url}}">
            {{assignment.url}}
        </a>  -->
		<object width="640" height="470" data="{{assignment.url}}" align="center">
		</object></br></br>
    </div>




<!-- try it
<embed width="420" height="315" src="https://www.youtube.com/v/kVt4fgia1jc">
try it again
<object width="420" height="315"
data="{{assignment.url}}">
</object>
And again
-->
<!-- <div class="logo" ng-controller='videoCtrl'></div> -->


<!--     <div>
    	<iframe id="ytplayer" type="text/html" width="640" height="360"
src="https://www.youtube.com/embed/M7lc1UVf-VE"
frameborder="0" allowfullscreen>
    </div> -->


</div>
<div>
    <button ng-click = "go('login')">Home</button>
</div>
