<div>
    <button class="btn btn-warning" ng-click = "go('login')">
        <span class="glyphicon glyphicon-home"></span> Home
    </button>
</div>

<style type="text/css">
    .assign{
        height:70%;
        overflow-y:scroll;
        width:100%;
        margin-left: 10%;
        margin-top: 5%;
        text-align: center;
    }
</style>
<div class="assign">
	<div class="col-lg-9">
	    <div class="well bs-component">

			<ul class = "" ng-repeat = "appt in appts"> 
					<h1>Your next appointment is:</h1>
					<h3 class="text-warning">{{appt.day}}, {{appt.month}} {{appt.number}} @ {{appt.time}}</h3>
			</ul>

			<h1>Your exercises are: </h1>
		    <div ng-repeat = "assignment in assignments">
		    <h3 class="text-warning">{{assignment.name}}</h3>
				<object width="640" height="470" data="{{assignment.url}}" align="center">
				</object>
		    </div>
	    </div>
	</div>
</div>


<!-- 16:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="…"></iframe>
</div>

4:3 aspect ratio
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="…"></iframe>
</div> -->




