 

	<div class = info>
		<!-- <button type="button" ng-click ="getPatient()">Patient Info</button> -->
		<input type="text" ng-model="name1" placeholder ="first name">
		<input type="text" ng-model="name2" placeholder = "last name"><br>
		<input type="text" ng-model="address1" placeholder = "street address"><br>
		<input type="text" ng-model="address2" placeholder = "city">
		<input type="text" ng-model="address3" placeholder = "state">
		<input type="number" ng-model="address4" placeholder = "zipcode"><br>
		<input type="text" ng-model="phone" placeholder = "phone number">
		<input type="text" ng-model="email" placeholder = "email address"><br>
		<input type="text" ng-model="injury" placeholder = "injury"><br>
		<button type="button" ng-click ="addPatient()">submit</button>
<!-- //add user. in front of the ng-model terms to possibly shorten dbCtrl code// -->
	</div>

	<div class = "list">
		<ul  > 
			<li ng-repeat = "item in info">
			<a ui-sref="patient({patientId:item.$id})">
			{{item.firstName}} {{item.lastName}} </a>---  {{item.injury}}<br>
			{{item.address}} <br>
			{{item.addressCity}}, {{item.addressState}}  {{item.addressZipcode}}<br>   <br></li>
			
		</ul>




		</div>
	</div>
</div>


